<div ui-view="box-details-view">
  <section class="noo-page-heading eff heading-6">
    <div class="container">
      <div class="noo-heading-content">
        <h1 class="page-title eff">Boxes</h1>
        <div class="noo-page-breadcrumb eff">
          <a href="./" class="home">Organici</a>/<span>Boxes</span>
        </div>
      </div>
    </div>
  </section>
  <div class="main">
    <div class="pt-10">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 hidden-sm hidden-xs">
            <figure class="figure">
              <a href="#" class="single_image-wrapper box_border_grey">
                <img width="270" height="460" src="images/banner/banner_270x470.jpg" alt="" />
              </a>
            </figure>
          </div>
          <div class="col-sm-6 hidden-sm hidden-xs">
            <figure class="figure">
              <a href="#" class="single_image-wrapper box_border_grey">
                <img width="570" height="457" src="images/ads-6.png" alt="" />
              </a>
            </figure>
          </div>
          <div class="col-sm-3 hidden-sm hidden-xs">
            <figure class="figure">
              <a href="#" class="single_image-wrapper box_border_grey">
                <img width="270" height="215" src="images/banner/banner_270x215.jpg" alt="" />
              </a>
            </figure>
            <figure class="mt-2 figure">
              <a href="#" class="single_image-wrapper box_border_grey">
                <img width="270" height="215" src="images/banner/banner_270x215.jpg" alt="" />
              </a>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-6 pb-3 text-center">
      <h2>
          Fruit &amp; veg boxes delivered weekly<br/>
          derect to your door
        </h2>
      <p class="pt-1">Now ain’t that a time saver!</p>
    </div>
    <div class="pb-10">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row noo-boxed">
              <div class="col-md-4 col-sm-6" ng-repeat="singlebox in box.filteredBoxes">
                <div class="box-inner">
                  <div class="box-inner-child">
                    <div class="box-thumbail">
                      <a href="" ng-click="box.selectBox(singlebox)">
                        <img src="images/box/box_516x713.jpg" alt="" />
                      </a>
                    </div>
                    <div class="box-content">
                      <h3 ng-click="box.selectBox(singlebox)">{{singlebox.boxName?singlebox.boxName:singlebox.boxId}}</h3>
                      <p  ng-click="box.selectBox(singlebox)">{{singlebox.description}}</p>
                    </div>
                    <div class="box-inner-product">
                      <!--<ul class="product-box-header">-->
                      <!--  <li>-->
                      <!--    <span data-id="#box_1_tab1" data-color="#ecc347">-->
                      <!--        <a href="" ui-sref="home.box.details">Small</a>-->
                      <!--      </span>-->
                      <!--  </li>-->
                      <!--  <li>-->
                      <!--    <span data-id="#box_1_tab2" data-color="#ecc347">-->
                      <!--        <a href="" ui-sref="home.box.details">Medium</a>-->
                      <!--      </span>-->
                      <!--  </li>-->
                      <!--  <li>-->
                      <!--    <span data-id="#box_1_tab3" data-color="#ecc347">-->
                      <!--        <a href="" ui-sref="home.box.details">Large</a>-->
                      <!--      </span>-->
                      <!--  </li>-->
                      <!--</ul>-->
                      <!--<div class="box-description-tab">-->
                      <!--  <div class="box-content-tab" id="box_1_tab1">-->
                      <!--    <h4><a href="box-detail.html">Small Detox Juicing Box</a></h4>-->
                      <!--    <p>-->
                      <!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua-->
                      <!--    </p>-->
                      <!--  </div>-->
                      <!--  <div class="box-content-tab" id="box_1_tab2">-->
                      <!--    <h4><a href="box-detail.html">Medium Detox Juicing Box</a></h4>-->
                      <!--    <p>-->
                      <!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua-->
                      <!--    </p>-->
                      <!--  </div>-->
                      <!--  <div class="box-content-tab" id="box_1_tab3">-->
                      <!--    <h4><a href="box-detail.html">Large Detox Juicing Box</a></h4>-->
                      <!--    <p>-->
                      <!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua-->
                      <!--    </p>-->
                      <!--  </div>-->
                      <!--</div>-->
                    </div>
                  </div>
                </div>
              </div>

            </div>

             <ul uib-pagination total-items="box.boxes.length" ng-model="box.currentPage" ng-change="box.pageChanged()"></ul>
            <!--       <div class="pagination list-center">
          <span class="page-numbers current">1</span>
          <a class="page-numbers" href="#">2</a>
          <a class="page-numbers" href="#">3</a>
          <a class="next page-numbers" href="#"><i class="fa fa-long-arrow-right"></i></a>
        </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="noo-footer-shop-now">
      <div class="container">
        <div class="col-md-7">
          <h4>- Every day fresh -</h4>
          <h3>organic food</h3>
        </div>
        <img src="images/organici-love-me.png" class="noo-image-footer" alt="" />
      </div>
    </div>
  </div>
</div>
