<div ui-view>
<div class="main">
  <div class="interact-banner">
    <div class="container">
      <div class="row">
        <div class="noo-traslate-atributes col-sm-12 col-md-6 hidden-xs">
          <div class="pt-5">
            <div class="noo-atributes">
              <img width="494" height="618" src="organicc/images/image-01.png" alt="" />
              <div class="noo-atributes-item">
                <div class="noo-atributes-hover">
                  <div class="noo-atributes-content">
                    <strong>12 Green Apples</strong>
                    <p>Maecenas tristique gravida, odio et sagi ttis justo </p>
                  </div>
                </div>
                <span class="eff">
                  <span class="eff1"></span>
                  <span class="eff2"></span>
                  <img width="64" height="64" src="organicc/images/thumb_53x53.jpg" alt=""/>
                </span>
              </div>
              <div class="noo-atributes-item noo-atributes-item2 orange">
                <div class="noo-atributes-hover">
                  <div class="noo-atributes-content">
                    <strong>10 Orange Apples</strong>
                    <p>Maecenas tristique gravida, odio et sagi ttis justo </p>
                  </div>
                </div>
                <span class="eff">
                  <span class="eff1"></span>
                  <span class="eff2"></span>
                  <img width="53" height="53" src="organicc/images/thumb_53x53.jpg" alt=""/>
                </span>
              </div>
              <div class="noo-atributes-item noo-atributes-item4 orange">
                <div class="noo-atributes-hover">
                  <div class="noo-atributes-content">
                    <strong>15 Pear Apples</strong>
                    <p>Maecenas tristique gravida, odio et sagi ttis justo </p>
                  </div>
                </div>
                <span class="eff">
                  <span class="eff1"></span>
                  <span class="eff2"></span>
                  <img width="53" height="53" src="organicc/images/thumb_53x53.jpg" alt=""/>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="noo-traslate-product col-sm-12 col-md-6">
          <div class="pt-5">
            <div class="noo-short-intro">
              <h4>Special fruits</h4>
              <h2>organici store</h2>
              <div class="price">
                <span>- Only -</span>
                $99.00
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-15 pb-11">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="noo-product-grid-wrap commerce product-style">
            <div class="noo-sh-title">
              <h2>Our new products</h2>
              <p>Maecenas tristique gravida odio, et sagi ttis justo interdum porta. Duis et lacus mattis, tincidunt eronec dictum non nulla.</p>
            </div>
            <div class="noo-product-filter masonry-filters">
              <ul class="noo-header-filter" data-option-key="filter">
                <li>
                  <a data-option-value="*" href="#all" class="selected">
                    <img width="30" height="26" src="organicc/images/filter/filter_30x30.jpg" alt="" />
                    <span>All products</span>
                  </a>
                </li>
                <li>
                  <a data-option-value=".organic-fruits" href="#organic-fruits">
                    <img width="30" height="26" src="organicc/images/filter/filter_30x30.jpg" alt=""/>
                    <span>Fruits</span>
                  </a>
                </li>
                <li>
                  <a data-option-value=".vegetable" href="#vegetable">
                    <img width="30" height="26" src="organicc/images/filter/filter_30x30.jpg" alt=""/>
                    <span>Vegetable</span>
                  </a>
                </li>
                <li>
                  <a data-option-value=".bread" href="#bread">
                    <img width="30" height="26" src="organicc/images/filter/filter_30x30.jpg" alt=""/>
                    <span>Bread</span>
                  </a>
                </li>
                <li>
                  <a data-option-value=".others" href="#others">
                    <img width="30" height="26" src="organicc/images/filter/filter_30x30.jpg" alt=""/>
                    <span>Others</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="noo-product-grid products row product-grid noo-grid-4">
              <div class="fruit organic-fruits masonry-item col-md-4 col-sm-6" ng-repeat="product in main.products">
                <div class="noo-product-inner">
                  <div class="noo-product-thumbnail">
                    <a ng-click="main.selectProduct(product)">
                      <img width="600" height="760" src="organicc/images/product/product_260x330.jpg" alt="" />
                    </a>
                    <div class="noo-rating">
                      <div class="star-rating">
                        <span style="width:0%"></span>
                      </div>
                    </div>
                  </div>
                  <div class="noo-product-title">
                    <h3><a ng-click="main.selectProduct(product)">{{product.name}}</a></h3>
                    <span class="price"><span class="amount">&#36;{{product.listPrice}}</span></span>
                    <div class="noo-product-action">
                      <div class="noo-action">
                        <a href="#" class="button product_type_simple add_to_cart_button">
                          <span>Add to cart</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-product">
    <div class="noo-sh-title text-center">
      <h2>Featured products</h2>
      <p>Maecenas tristique gravida odio, et sagi ttis justo interdum porta</p>
    </div>
    <div class="noo-product-masonry columns-3">
      <div class="product-masonry">
        <img width="644" height="380" src="organicc/images/product/product_644x380.jpg" alt="" />
        <div class="noo-link">
          <div class="noo-product-table">
            <div class="noo-product-table-cell">
              <h4><a href="#">Cookies </a></h4>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by&hellip;
              </p>
              <span class="noo-sh-pmeta">
                <a href="#" class="button product_type_simple add_to_cart_button">
                  <span>Add to cart</span>
                </a>
                <a class="fa fa-link" href="shop-detail.html"></a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="product-masonry">
        <img width="644" height="380" src="images/product/product_644x380.jpg" alt="" />
        <div class="noo-link">
          <div class="noo-product-table">
            <div class="noo-product-table-cell">
              <h4><a href="#">Grapes </a></h4>
              <p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin&hellip;
              </p>
              <span class="noo-sh-pmeta">
                <a href="#" class="button product_type_simple add_to_cart_button">
                  <span>Add to cart</span>
                </a>
                <a class="fa fa-link" href="shop-detail.html"></a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="product-masonry">
        <img width="644" height="380" src="organicc/images/product/product_644x760.jpg" alt="" />
        <div class="noo-link">
          <div class="noo-product-table">
            <div class="noo-product-table-cell">
              <h4><a href="#">Jackfruit </a></h4>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by&hellip;
              </p>
              <span class="noo-sh-pmeta">
                <a href="#" class="button product_type_simple add_to_cart_button">
                  <span>Add to cart</span>
                </a>
                <a class="fa fa-link" href="shop-detail.html"></a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="product-masonry">
        <img width="644" height="380" src="organicc/images/product/product_644x760.jpg" alt="" />
        <div class="noo-link">
          <div class="noo-product-table">
            <div class="noo-product-table-cell">
              <h4><a href="#">Banana </a></h4>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by&hellip;
              </p>
              <span class="noo-sh-pmeta">
                <a href="#" class="button product_type_simple add_to_cart_button">
                  <span>Add to cart</span>
                </a>
                <a class="fa fa-link" href="shop-detail.html"></a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="product-masonry">
        <img width="644" height="380" src="organicc/images/product/product_644x380.jpg" alt="" />
        <div class="noo-link">
          <div class="noo-product-table">
            <div class="noo-product-table-cell">
              <h4><a href="#">Chicken eggs </a></h4>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by&hellip;
              </p>
              <span class="noo-sh-pmeta">
                <a href="#" class="button product_type_simple add_to_cart_button">
                  <span>Add to cart</span>
                </a>
                <a class="fa fa-link" href="shop-detail.html"></a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="product-masonry">
        <img width="644" height="380" src="organicc/images/product/product_644x380.jpg" alt="" />
        <div class="noo-link">
          <div class="noo-product-table">
            <div class="noo-product-table-cell">
              <h4><a href="#">Fruits </a></h4>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by&hellip;
              </p>
              <span class="noo-sh-pmeta">
                <a href="#" class="button product_type_simple add_to_cart_button">
                  <span>Add to cart</span>
                </a>
                <a class="fa fa-link" href="shop-detail.html"></a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="product-masonry">
        <img width="644" height="380" src="organicc/images/product/product_644x380.jpg" alt="" />
        <div class="noo-link">
          <div class="noo-product-table">
            <div class="noo-product-table-cell">
              <h4><a href="#">Peach </a></h4>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by&hellip;
              </p>
              <span class="noo-sh-pmeta">
                <a href="#" class="button product_type_simple add_to_cart_button">
                  <span>Add to cart</span>
                </a>
                <a class="fa fa-link" href="shop-detail.html"></a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="call-to-action-1">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="noo-represent">
            <img width="194" height="66" src="organicc/images/since.png" alt=""/>
            <h2>Organic products!</h2>
            <p>
              Maecenas tristique gravida odio, et sagittis justo interdum porta. Duislacus mattis, tincidunt eros ac, consequat tortor.
            </p>
            <div class="noo-button-creative">
              <a href="#">
                <span class="first"></span>
                <span class="second"></span>
                Shop now
                <span class="three"></span>
                <span class="four"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6"></div>
      </div>
    </div>
  </div>
  <div class="newsletter">
    <div class="noo-sh-mailchimp">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-xs-12">
            <h3 class="noo-mail-title">Subscribe to us!</h3>
            <p class="noo-mail-desc">
              Enter Your email address for our mailing list to keep yourself update.
            </p>
          </div>
          <div class="col-md-7 col-xs-12">
            <form>
              <div class="newsletter-form-fields">
                <input type="email" name="EMAIL" placeholder="Email address" required />
                <input type="submit" value="submit"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
