<div class="row userInfo">
  <div class="col-lg-12">
    <h2 class="block-title-2"> Payment method </h2>

    <p>Please select the preferred shipping method to use on this order.</p>
    <hr>
  </div>
  <div class="col-xs-12 col-sm-12">
    <form id="checkout" method="post" action="">
      <div id="payment-form"></div>
      <label class="item item-input">
  <span class="input-label">Amount</span>
  <input type="number" ng-model="payment.amount" required>
</label>
      <button class="button button-block button-positive">
  Pay Now
</button>
    </form>
    <ul class="list">
      <li class="item" ng-repeat="(key,value) in transation">
        {{key}} : &nbsp;{{value}}
      </li>
    </ul>

  </div>
</div>
