
  <div class="main" ui-view="shop-details-view">
    <section class="noo-page-heading eff">
        <div class="container">
          <div class="noo-heading-content">
            <h1 class="page-title eff">Shop Grid</h1>
            <div class="noo-page-breadcrumb eff">
              <a href="./" class="home">Organici</a>/<span>Shop Grid</span>
            </div>
          </div>
        </div>
      </section>
    <div class="commerce noo-shop-main">
      <div class="container">
        <div class="row">
          <div class="noo-main col-md-9">
            <div class="noo-catalog">
              <p class="commerce-result-count">Showing {{shop.currentPage*shop.numPerPage-shop.numPerPage+1}}&ndash;{{shop.currentPage*shop.numPerPage}} of {{shop.products.length}} results</p>
              <div class="product-style-control pull-right">
                <span class="noo-list"><a href="shop-list.html"><i class="fa fa-th-list"></i></a></span>
                <span class="noo-grid active"><i class="fa fa-th-large"></i></span>
              </div>
              <form class="commerce-ordering">
                <select name="orderby" class="orderby">
                  <option value="" selected='selected'>Default sorting</option>
                  <option value="">Sort by popularity</option>
                  <option value="">Sort by average rating</option>
                  <option value="">Sort by newness</option>
                  <option value="">Sort by price: low to high</option>
                </select>
              </form>
            </div>
            <div class="products row product-grid">
              <div class="masonry-item noo-product-column col-md-4 col-sm-6 product" ng-repeat="product in shop.filteredProducts">
                <div class="noo-product-inner">
                  <div class="noo-product-thumbnail">
                    <a href="" ng-click="shop.selectProduct(product)">
                      <img width="600" height="760" src="organicc/images/product/product_260x330.jpg" alt="" />
                    </a>
                    <div class="noo-rating">
                      <div class="star-rating">
                        <span style="width:0%"></span>
                      </div>
                    </div>
                  </div>
                  <div class="noo-product-title">
                    <h3><a ng-click="shop.selectProduct(product)">{{product.name}}</a></h3>
                    <span class="price"><span class="amount">&#36;{{product.listPrice}}</span></span>
                    <div class="noo-product-action">
                      <div class="noo-action">
                        <a href="" ng-click="shop.addProduct(product,1)" class="button product_type_simple add_to_cart_button">
                          <span>Add to cart</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="pagination list-center">
                 <ul uib-pagination total-items="shop.products.length" ng-model="shop.currentPage" ng-change="shop.pageChanged()"></ul>
            </div>
          </div>
          <div class="noo-sidebar col-md-3">
            <div class="noo-sidebar-wrap">
              <div class="widget commerce widget_product_search">
                <h3 class="widget-title">Search</h3>
                <form>
                  <input type="search" class="search-field" placeholder="Search Products&hellip;" value="" name="s"/>
                  <input type="submit" value="Search"/>
                </form>
              </div>
              <div class="widget commerce widget_product_categories">
                <h3 class="widget-title">Categories</h3>
                <ul class="product-categories">
                  <li ng-repeat="category in shop.categories"><a href="#">{{category.name}}</a></li>

                </ul>
              </div>
              <div class="widget commerce widget_price_filter">
                <h3 class="widget-title">Filter by price</h3>
                <form>
                  <div class="price_slider_wrapper">
                    <div class="price_slider" style="display:none;"></div>
                    <div class="price_slider_amount">
                      <input type="text" id="min_price" name="min_price" value="" data-min="0" placeholder="Min price"/>
                      <input type="text" id="max_price" name="max_price" value="" data-max="15" placeholder="Max price"/>
                      <button type="submit" class="button">Filter</button>
                      <div class="price_label" style="display:none;">
                        Price: <span class="from"></span> &mdash; <span class="to"></span>
                      </div>
                      <div class="clear"></div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="widget commerce widget_products">
                <h3 class="widget-title">Popular products</h3>
                <ul class="product_list_widget">
                  <li>
                    <a href="shop-detail.html">
                      <img width="100" height="100" src="organicc/images/product/product_100x100.jpg" alt="" />
                      <span class="product-title">French Bread</span>
                    </a>
                    <span class="amount">&#36;10.00</span>
                  </li>
                </ul>
              </div>
              <div class="widget commerce widget_product_tag_cloud">
                <h3 class="widget-title">Product Tags</h3>
                <div class="tagcloud">
                    <a  ng-repeat="category in shop.categories" href="#">{{category.name}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="noo-footer-shop-now">
      <div class="container">
        <div class="col-md-7">
          <h4>- Every day fresh -</h4>
          <h3>organic food</h3>
        </div>
        <img src="organicc/images/organici-love-me.png" class="noo-image-footer" alt="" />
      </div>
    </div>
  </div>
