<section class="noo-page-heading eff">
				<div class="container">
					<div class="noo-heading-content">
						<h1 class="page-title eff">Cart</h1>
						<div class="noo-page-breadcrumb eff">
							<a href="./" class="home">Organici</a>/<span>Cart</span>
						</div>
					</div>
				</div>
			</section>
			<div class="main">
				<div class="commerce commerce-page commerce-cart noo-shop-main">
					<div class="container">
						<div class="row">
							<div class="noo-main col-md-12">
								<table class="shop_table cart">
									<thead>
										<tr>
											<th class="product-thumbnail">Image</th>
											<th class="product-price">Price</th>
											<th class="product-quantity">Quantity</th>
											<th class="product-subtotal">Total</th>
											<th class="product-remove">&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										<tr class="cart_item" ng-repeat="product in shoppingCart.countedShoppingCart">
											<td class="product-thumbnail">
												<a href="shop-detail.html">
													<img width="100" height="100" src="images/product/product_100x100.jpg" alt="" />
												</a>
												<a href="shop-detail.html">{{product.product[0].name}} </a>
											</td>
											<td class="product-price">
												<span class="amount">{{product.product[0].listPrice | currency}} </span>
											</td>
											<td class="product-quantity">
												<div class="quantity">
													<input min="0" name="qty" ng-model="product.count" class="input-text qty text" />
												</div>
											</td>
											<td class="product-subtotal">
												<span class="amount">{{product.product[0].listPrice*product.count | currency}}</span>
											</td>
											<td class="product-remove">
												<a href="" class="remove" ng-click="shoppingCart.deleteCartProduct(product)">&times;</a>
											</td>
										</tr>

										<tr>
											<td colspan="5" class="actions">
												<a class="continue" href="shop.html">continue shopping</a>
												<div class="coupon">
													<label for="coupon_code">Coupon:</label>
													<input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Coupon code"/>
													<input type="submit" class="button" name="apply_coupon" value="Apply Coupon"/>
												</div>
												<a ng-click="shoppingCart.updateShoppingCart()" type="submit" class="button">Update Cart</a>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="cart-collaterals">
									<div class="noocart-coupon">
										<label for="coupon_code">Coupon</label>
										<p>Enter your code if you have one</p>
										<input type="text" name="noo_coupon_code" class="input-text" id="noo_coupon_code" value="" placeholder="Coupon code"/>
										<button class="noo-apply-coupon button">Apply Coupon</button>
									</div>
									<div class="cart_totals">
										<h2>Cart Totals</h2>
										<table>
											<tr class="cart-subtotal">
												<th>Subtotal</th>
												<td><span class="amount">{{totalPrice|currency}}</span></td>
											</tr>
											<tr class="shipping">
												<th>Shipping</th>
												<td>
													<p>Shipping costs will be calculated once you have provided your address.</p>
												</td>
											</tr>
											<tr class="order-total">
												<th>Total</th>
												<td><strong><span class="amount">{{totalPrice|currency}}</span></strong> </td>
											</tr>
										</table>
										<div class="wc-proceed-to-checkout">
											<a href="" ui-sref="home.payment.address" class="checkout-button button alt wc-forward">
												Proceed to Checkout
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="noo-footer-shop-now">
					<div class="container">
						<div class="col-md-7">
							<h4>- Every day fresh -</h4>
							<h3>organic food</h3>
						</div>
						<img src="images/organici-love-me.png" class="noo-image-footer" alt="" />
					</div>
				</div>
			</div>
